{
    "title" : "piTitle, a simple way to show images on stage !",
  "debug": true,
  "base_path": "/home/pi/titles",

  "framebuffer": {
    "bin_path" : "/usr/bin/fbi",
    "flags" : ["a", "P", "T 1", "noverbose"],
    "use_sudo" : false
  }
}